/* Google Fonts Imported */
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');


/* --General Style-- */
p {
  font-family: 'Roboto', sans-serif;
}
h2 {
  padding-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.7em;
}

/* --Navbar Styling-- */
 .navbar {
  background: none;
  border: none;
} 

.navbar i {
  padding-right: 8px;
}

.navbar .navbar-header .icon-bar {
  color: white;
  background-color: white;
}

.navbar .container-fluid .fa {
  color: white;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: white;
 }

/* Chaning links color on hover/focus */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C6BEC1 !important;
  transition: color .5s;
}
.navbar .navbar-header .navbar-brand > span:hover, .navbar .navbar-header .navbar-brand > span:focus {
  color: #C6BEC1;
  transition: color .5s;
}

/* Navbar color change */
.navbar-default {
  background: transparent;
  border: none;
  transition: 0.3s all linear;	
}
.navbar-default.change-color {
  background-color: #697082;
}


/*  --Header Styling-- */
header {
  background: url('https://static.pexels.com/photos/196665/pexels-photo-196665.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100vh;
}
.header-content {
  text-align: center;
  padding-top: 30vh;
  color: white;
}
.animated {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.header-content h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 4.5em;
}
.header-content p {
  font-size: 1.7em;
}

hr {
  display: block;
  padding: 0;
  width: 21em;
  height: 0;
  max-height: 0;
  line-height: 1;
  margin: 0.5em auto 0.5em auto;
  border-width: 2px;
}

.social-links a {
  margin: 5px;
  color: white;
  font-size: 2em;
}
/* Specific colors of social links when hovered */
.social-links .github-link:hover {
  color: #000;
}
.social-links .fcc-link:hover {
  color: #106E29;
}
.social-links .linkedin-link:hover {
  color: #007bb5;
}
.social-links .twitter-link:hover {
  color: #55acee;
}
.social-links .email-link:hover {
  color:#dd4b39;
}


.down {
  position: absolute;
  bottom: 5em;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
}
.next-page {
  color: white;
  font-size: 1.5em;
}
.next-page:hover {
  color: #C6BEC1;
}

/* --End Header Styling-- */


/* --ABOUT SECTION STYLING-- */
#about-section {
  background-color: #42646E;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: -20px;
/*   This screws up the view when you link here, try to fix this properly */
  
}
.about-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  max-width: 26em;
  padding-top: 8px;
  padding-bottom: 10px;
  margin: 20px auto;
}

.hi-sub {
  font-size: .5em;
  text-align: center;
}

.about-p strong {
  font-size: 1.2em;
}

.about-p {
  line-height: 2em;
  margin: 0;
  padding: 30px;
}

.location {
  padding-top: 10px;
}

/* --end about section styling-- */



/* --BEGIN WORK SECTION STYLING-- */
#work-section h2 {
  padding-bottom: 2em;
}
.work-info h4 {
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}

.technologies-used {
  display: inline-block;
}


.work-buttons {
  padding-top: 8px;
}

.work-buttons .btn {
  border-radius: 24px;
  padding: 4px 20px;
  display: inline-block;
}
.work-buttons i {
  padding-right: 5px;
}

/* Hover.css for custom :hover states on buttons in work section */
.work-buttons button {
  background: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 30px;
  width: 100px;
/*   line-height: 30px; */
/*   margin: 10px; */
  text-align: center;
  border: 1px solid #697082;
  border-radius: 24px;
  display: inline-block;
  overflow: hidden;
}
.work-buttons button:hover{
  background-color: #697082;
  color: white;
  transition-duration: .3s;
  text-decoration: none;
}


@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-pop:before {
  content: "\f1cb";
  position: absolute;
  right: 1.5em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.github-button .hvr-icon-pop:before {
  content: "\f09b"
}
.hvr-icon-pop:hover:before, .hvr-icon-pop:focus:before, .hvr-icon-pop:active:before {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* End hover.css button styling...that's a lot of code right there... */

.row > hr {
  padding: 20px;
  margin-top: 40px;
  width: 70%;
}

/* END WORK SECTION STYLING */


/* BEGIN CONTACT SECTION STYLING */
.contact-container{
  margin-top: 4em;
  margin-bottom: 3em;
}
.contact-section {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.email-button {
  padding: 30px;
}
.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
  color: #697082;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  border: 2px solid #697082;
  border-radius: 4px;
  padding: 20px 65px;
  transition: 0.3s ease-in-out;
  
}
.contact-button > span {
  text-transform: none;
  position: absolute;
  color: white;
  top: 20px;
  left: 12px;
  opacity: 0;
  transition: all 0s ease 0s;
}

.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid #697082;
  border-radius: 50px;
  background-color: #697082;
  color: #697082;
}
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
  font-size: 14px;
}
.contact-button:before, contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 132px;
  height: 25px;
}

/* Social buttons at bottom of apge - different from "contact button" */
.contact-buttons {
  height: 60px;
  margin: auto;
  text-align: center;
  width: 60%;
  padding-top: 15px;

}

.social {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1.5px solid #272628;
  border-radius: 28%;
  margin-right: 1em;
}

/* Specific colors for each button */
.github-social {
  color: #272628;
}
.codepen-social {
  color: #272628;
}
.fcc-social {
  color: #106E29;
}
.twitter-social {
  color: #55acee;
}
.linkedin-social {
  color: #007bb5;
}
.medium-social {
  color: #3cb371;
}
/* Change specific colors on :hover */
.contact-buttons > a {
  transition: all .5s;
}
.contact-buttons > a:hover, .contact-buttons > a:focus {
  border: none;
}
.contact-buttons > a.github-social:hover, .contact-buttons > a.github-social:focus {
  color: white;
  background-color: #272628;
}
.contact-buttons > a.codepen-social:hover, .contact-buttons > a.codepen-social:focus {
  color: white;
  background-color: #272628;
}
.contact-buttons > a.fcc-social:hover, .contact-buttons > a.fcc-social:focus {
  color: white;
  background-color: #106E29;
}
.contact-buttons > a.twitter-social:hover, .contact-buttons > a.twitter-social:focus {
  color: white;
  background-color: #55acee;
}
.contact-buttons > a.linkedin-social:hover, .contact-buttons > a.linkedin-social:focus {
  color: white;
  background-color: #007bb5;
}
.contact-buttons > a.medium-social:hover, .contact-buttons > a.medium-social:focus {
  color: white;
  background-color: #3cb371;
}


/* END CONTACT SECTION STYLING */

/* BEING FOOTER STYLING */
.footer {
  background-color: #272628;
  color: white;
  text-align: center;
  height: 6em;
  padding-top: 8px;
}
.footer p {
  padding-top: 1em;
}
.location {
  padding-left: 1em;
}


/* --Begin @media Styling for Smaller Screens-- */
/* Header */
@media (max-width: 767px) {
  .header-content h1 {
    font-size: 2.5em;
  }
  .header-content p {
    font-size: 1.2em;
  }
  .social-links a {
  margin: 3px;
  font-size: 1.75em;
  }
  .next-page {
  font-size: 1.2em;
  }
  hr {
    width: 16em;
  }
}

/* About */
@media (max-width: 767px) {
  .about-p {
    margin: 15px;
  }
  .profile-pic {
    height: 18em;
  }
  .about-row {
    display: block;
  }
  
}

/* Work */
@media (max-width: 767px) {
  .work-buttons button{
    margin-top: 8px;
  }
  
  #work-section h2 {
  padding-bottom: 1em;
  }
}

/* Contact */
@media (max-width: 767px) {
  .contact-buttons {
  height: 40px;
}

  .social {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
  }
  
  .contact-section p {
    margin: 20px;
  }
  
} /*end styling*/

