/* Google Fonts Imported */
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');


/* --General Style-- */
p {
  font-family: 'Roboto', sans-serif;
}

/* --Navbar Styling-- */
 .navbar {
  background: none;
  border: none;
} 

.navbar i {
  padding-right: 8px;
}

.navbar .navbar-header .icon-bar {
  color: white;
  background-color: white;
}

.navbar .container-fluid .fa {
  color: white;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: white;
 }

/* Chaning links color on hover/focus */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C6BEC1 !important;
  transition: color .5s;
}
.navbar .navbar-header .navbar-brand > span:hover, .navbar .navbar-header .navbar-brand > span:focus {
  color: #C6BEC1;
  transition: color .5s;
}

/* Navbar color change */
.navbar-default {
  background: transparent;
  border: none;
  transition: 0.3s all linear;	
}
.navbar-default.change-color {
  background-color: #697082;
/*   -webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 4px 0px rgba(221,221,221,1); */
}


/*  --Header Styling-- */
header {
  background: url('https://static.pexels.com/photos/196665/pexels-photo-196665.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100vh;
}
.header-content {
  text-align: center;
  padding-top: 33vh;
  color: white;
}
.animated {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.header-content h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 4.5em;
}
.header-content p {
  font-size: 1.7em;
}

hr {
  display: block;
  padding: 0;
  width: 21em;
  height: 0;
  max-height: 0;
  line-height: 1;
  margin: 0.5em auto 0.5em auto;
  border-width: 2px;
}

.social-links a {
  margin: 5px;
  color: white;
  font-size: 2em;
}
/* Specific colors of social links when hovered */
.social-links .github-link:hover {
  color: #000
}
.social-links .fcc-link:hover {
  color: #106E29
}
.social-links .linkedin-link:hover {
  color: #279CD6
}
.social-links .twitter-link:hover {
  color: #169FFA
}


.down {
  position: absolute;
  bottom: 3em;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
}
.next-page {
  color: white;
  font-size: 1.5em;
}
.next-page:hover {
  color: #C6BEC1;
/*   Would really like to have this transform in some way either on hover or click */
}

/* --End Header Styling-- */



/* --ABOUT SECTION STYLING-- */
#about-section {
/*   background-color: red; */
  background-color: #42646E;
  font-family: 'Roboto', sans-serif;
  height: 36em;
  color: white;
  margin-top: -20px;
/*   This screws up the view when you link here, try to fix this properly */
}
#about-section h2 {
  padding-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.7em;
/*   Stlye all H2s this way? */
}

.about-left {
  height: 28em;
  display: flex;
  aligh-items: center;
  justify-content: center;
}
.profile-pic {
  max-width: 28em;
  padding-top: 8px;
  margin: 0;
}

.about-p {
  line-height: 2em;
  text-align: left;
/*   background-color: yellow; */
  margin: 0;
}

.about-right {
  font-size: 1.2em;
  min-height: 21em;
  max-height: 28em;
  display: flex;
  align-items: center;
  background-color: #42646E;
}

/* --end about section styling-- */



/* --BEGIN WORK SECTION STYLING-- */

#work-section h2 {
  padding-top: 25px;
  margin-bottom: 45px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.7em;
/*   think about just styling all h2s as center at the end */
}

.work-info h4 {
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}

.technologies-used {
  display: inline-block;
}

.work-buttons {
  padding-top: 8px;
}

.work-buttons .btn {
  border-radius: 24px;
  padding: 4px 20px;
  display: inline-block;
}
.work-buttons i {
  padding-right: 5px;
}

/* Hover.css for custom :hover states on buttons in work section */
button {
  background: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 30px;
  width: 100px;
/*   line-height: 30px; */
  margin: 10px;
  text-align: center;
  border: 1px solid #697082;
  border-radius: 24px;
  display: inline-block;
  overflow: hidden;
}
button:hover{
  background-color: #697082;
  color: white;
  transition-duration: .3s;
  text-decoration: none;
}


@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-pop:before {
  content: "\f1cb";
  position: absolute;
  right: 1.5em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.github-button .hvr-icon-pop:before {
  content: "\f09b"
}
.hvr-icon-pop:hover:before, .hvr-icon-pop:focus:before, .hvr-icon-pop:active:before {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.row > hr {
  padding: 20px;
  margin-top: 40px;
  width: 70%;
}




/* --Begin @media Styling for Smaller Screens-- */
/* Header */
@media (max-width: 767px) {
  .header-content h1 {
    font-size: 2.5em;
  }
  .header-content p {
    font-size: 1.2em;
  }
  .social-links a {
  margin: 3px;
  font-size: 1.75em;
  }
  .next-page {
  font-size: 1.2em;
  }
  hr {
    width: 16em;
  }
}

/* About */
@media (max-width: 767px) {
  .about-right {
    min-height: 15em;
  }
  .about-left {
    height: 19em;
  }
  .about-right p {
    margin: 30px;
  }
  .profile-pic {
    height: 18em;
  }
  
}

/* Work */


