.container {
  border-radius: 33%;
  border: #777575 solid 2px; }

.location {
  text-align: center;
  font-size: 1.3em; }

.wi {
  font-size: 3rem;
  text-align: center; }

.icon, .temp, .tempToggle {
  text-align: center; }

.icon {
  margin-top: 40px;
  margin-bottom: 10px;
  transform: scale(1.5, 1.5); }

.temp {
  font-size: 3em;
  font-weight: bold; }

.tempToggle {
  margin: 5px;
  font-size: 1.2em; }

.cold {
  background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%); }

.cool {
  background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%); }

.warm {
  background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%); }

.hot {
  background-image: linear-gradient(135deg, #FDD819 10%, #E80505 100%); }
