
.container {
    border-radius: 33%;
    border: black solid 2px;
}

.location {
    text-align: center;}

.wi {
    font-size: 3rem;
    text-align: center;
}



// Color gradients for changing background dependent on the weather
.cold {
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}
.cool {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}
.warm {
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
}
.hot {
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
}
