$primary-color: #528EF0;

body {
    background-color: $primary-color;
}

.container {
    border-radius: 25%;
    border: black solid 2px;
}

.location {
    text-align: center;
}

.wi {
    font-size: 3rem;
    // display: flex;
    // align-items: center;
    text-align: center;
}